<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="header">
  <a href="#default" class="logo"> BeerCenter</a>
  <div class="header-right">
    <a class="home" href="#home">Home</a>
    <a class="active" href="#home">BeerWorld</a>
    <a class="home" href="/beer_create">Add a Beer</a>

    <a href="#about">Logout</a>
  </div>
</div>

<div class="container">
      
  
        
    <!--   card 1 -->
      <div class="card-body" *ngFor="let data of data" >
        <div class="content-img">
          <img src= {{data.imageUrl}} alt="">
        </div>
        <div class="card-text">
          <h2 id = "brewer" >Brewer : {{data.brewer}}</h2>
          <h2>Price :  {{data.price}} USD</h2>
          <br>
          <span class="rating-static rating-{{data.rating*10}}"></span>
          <a (click) = "onRead(data)" class="read-more">Read more</a>
          <br>
          <div >
          <button (click) = "recordUpVote($event,data)" type="button" class="upvote btn1 btn-default btn-sm"  >
              <span class="glyphicon glyphicon-thumbs-up"></span> Upvotes
              <p id="upvote">{{data.upVotes}}</p>
            </button>
            <button (click) = "recordDownVote($event,data)" type="button" class="downvote btn2 btn-default btn-sm" >
                <span class="glyphicon glyphicon-thumbs-up"></span> Downvotes
                <p >{{data.downVotes}}</p>

              </button> 
          </div>

        </div>
        
    </div>

    
          <!-- This is for the FAB -->
          <button (click) = "createBeerRoute()" class="fab fab-content"></button>
    </div> 




    <footer>
      <p>Made with Beer<span>&hearts;</span> by <a href="sladynnunes98@gmail.com">Sladyn Nunes</a> </p>
    </footer>
