<div class="container">
    <!--   card 1 -->
      <div class="card-body" *ngFor="let number of numbers" >
        <div class="content-img">
          <img src="https://d3r6kbofdnmd8.cloudfront.net/media/catalog/product/cache/image/1536x/a4e40ebdc3e371adff845072e1c73f37/9/9/99033_absolut_1l_edo_3.jpg" alt="">
        </div>
        <div class="card-text">
          <p class="tag">travel</p>
          <h2>Vodka</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore fugit facere numquam tempora eveniet repellat.</p>
          <a class="read-more">Read more</a>
        </div>
    </div>
    </div> 
    <footer>
      <p>Made with <span>&hearts;</span> by <a href="mailto:arevalolucianadg@gmail.com">Luciana Arévalo</a> </p>
    </footer>