<div class="parent clearfix">
  <div class="bg-illustration">
    <img src=""logo>

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  
  <div class="login">
    <div class="container">
      <h1>Login to access to<br />your account</h1>
  
      <div class="login-form">
        <form action="">
          <input [(ngModel)] = "register.username" name ="first" type="username" placeholder="UserName">
          <input [(ngModel)] = "register.email" name="email" type="email" placeholder="E-mail Address">
          <input [(ngModel)] = "register.password" name="password" type="password" placeholder="Password">

          <div class="remember-form">
            <input type="checkbox">
            <span>Remember me</span>
          </div>
          <div class="forget-pass">
          </div>

          <button (click) = "registerUser()" type="submit">LOG-IN</button>

        </form>
      </div>
  
    </div>
    </div>
</div>