<div class="parent clearfix">
  <div class="bg-illustration">
    <img src=""logo>

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  
  <div class="login">
    <div class="container">
      <h1>Login to access to<br />your account</h1>
  
      <div class="login-form" (submit)="loginUser($event)">
        <form action="">
          <input  id="username" type="username" placeholder="UserName" >
          <input  id="email" type="email" placeholder="E-mail Address" required>
          <input  id="password" type="password" placeholder="Password" >
          <button type="submit">Register</button>

        </form>
      </div>
  
    </div>
    </div>
</div>